statemachine/escalation.asl.json
{
  "Comment": "Alert Escalation State Machine",
  "StartAt": "StartEscalation",
  "States": {
    "StartEscalation": {
      "Type": "Task",
      "Resource": "${StartEscalationFunctionArn}",
      "ResultPath": "$.escalation",
      "Next": "GetOnCall"
    },
    "GetOnCall": {
      "Type": "Task",
      "Resource": "${GetOnCallFunctionArn}",
      "Parameters": {
        "level.$": "$.escalation.current_level"
      },
      "ResultPath": "$.oncall",
      "Next": "CheckOnCallFound"
    },
    "CheckOnCallFound": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.oncall.found",
          "BooleanEquals": true,
          "Next": "MakeCall"
        }
      ],
      "Default": "NoOnCallFound"
    },
    "NoOnCallFound": {
      "Type": "Fail",
      "Error": "NoOnCallFound",
      "Cause": "No on-call person found for this level"
    },
    "MakeCall": {
      "Type": "Task",
      "Resource": "${MakeCallFunctionArn}",
      "Parameters": {
        "alert_id.$": "$.escalation.alert_id",
        "alert_title.$": "$.escalation.alert_title",
        "phone_number.$": "$.oncall.phone",
        "current_level.$": "$.escalation.current_level"
      },
      "ResultPath": "$.call_result",
      "Next": "WaitForAck"
    },
    "WaitForAck": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckAck"
    },
    "CheckAck": {
      "Type": "Task",
      "Resource": "${CheckAckFunctionArn}",
      "Parameters": {
        "alert_id.$": "$.escalation.alert_id"
      },
      "ResultPath": "$.ack_result",
      "Next": "IsAcked"
    },
    "IsAcked": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ack_result.is_acked",
          "BooleanEquals": true,
          "Next": "AckReceived"
        }
      ],
      "Default": "Escalate"
    },
    "AckReceived": {
      "Type": "Succeed",
      "Comment": "Alert was acknowledged"
    },
    "Escalate": {
      "Type": "Task",
      "Resource": "${EscalateFunctionArn}",
      "Parameters": {
        "alert_id.$": "$.escalation.alert_id",
        "current_level.$": "$.escalation.current_level",
        "max_level": 3
      },
      "ResultPath": "$.escalate_result",
      "Next": "ShouldContinue"
    },
    "ShouldContinue": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.escalate_result.should_continue",
          "BooleanEquals": true,
          "Next": "UpdateLevel"
        }
      ],
      "Default": "EscalationComplete"
    },
    "UpdateLevel": {
      "Type": "Pass",
      "Parameters": {
        "escalation": {
          "alert_id.$": "$.escalation.alert_id",
          "alert_title.$": "$.escalation.alert_title",
          "current_level.$": "$.escalate_result.new_level"
        }
      },
      "Next": "GetOnCall"
    },
    "EscalationComplete": {
      "Type": "Fail",
      "Error": "EscalationExhausted",
      "Cause": "All escalation levels exhausted without acknowledgement"
    }
  }
}
